{% extends "layout.html" %}
{% block content %}

<h1>Submit a recipe</h1>

<form method="POST">
    <label>Username</label>
    <input type="text" name="username" placeholder="eg: John Doe"></input>
    </br>
    <label>Estimated time</label>
    <input type="text" name="est-time" placeholder="eg: 30mins"></input>
    </br>
    <label>Recipe Name</label>
    <input type="text" name="recipe-name" placeholder="Roasted Chicken"></input>
    </br>
    <label>Recipe Tag</label>
    <select id="recipe-tag" name="recipe-tag">
      <option value="chinese">Chinese</option>
      <option value="indian">Indian</option>
      <option value="malay">Malay</option>
      <option value="western">Western</option>
    </select>
    </br>
    <label>Ingredients</label>
    <textarea placeholder="Type here" rows="5" col="5" name="ingredients"></textarea>
    </br>
    <label>Directions</label>
    <textarea placeholder="Type here" rows="5" col="5" name="directions"></textarea>
    </br>
    <input type="submit" value="submit"></input>
</form>


{% endblock %}