{% extends "index.html" %}
{% block content %}

<h1>Edit Recipe</h1>
<form method="POST">

    <label>Username</label>
    <input type="text" name="username" value={{search_recipes.username}}></input>
    </br>
    <label>Estimated time</label>
    <input type="text" name="est-time" value={{search_recipes.time}}></input>
    </br>
    <label>Recipe Name</label>
    <input type="text" name="recipe-name" value={{search_recipes.recipe_name}}></input>
    </br>
    <label>Recipe Tag</label>
    <select id="recipe-tag" name="recipe-tag">
      <option value="chinese" {% if search_recipes.recipe_tag == "chinese" %}selected="selected"{% endif %}>Chinese</option>
      <option value="indian" {% if search_recipes.recipe_tag == "indian" %}selected="selected"{% endif %}>Indian</option>
      <option value="malay" {% if search_recipes.recipe_tag == "malay" %}selected="selected"{% endif %}>Malay</option>
      <option value="western" {% if search_recipes.recipe_tag == "western" %}selected="selected"{% endif %}>Western</option>
    </select>
    </br>
    <label>Ingredients</label>
    <textarea placeholder="Type here" rows="5" col="5" name="ingredients" >{{search_recipes.ingredients}}</textarea>
    </br>
    <label>Directions</label>
    <textarea placeholder="Type here" rows="5" col="5" name="directions">{{search_recipes.directions}}</textarea>
    </br>
    <input type="submit" value="submit"></input>  
    <button href="{{url_for('search')}}">Cancel</button>
</form> 

{% endblock %}