{% extends 'base.html' %}

{% block content %} 
<!--<main class='container-fluid'>-->
  <!--Page Header -->
<!--  <header class="masthead" style="background-image: url('static/img/mamasrecipe.jpg')">-->
<!--    <div class="overlay"></div>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-8 col-md-10 mx-auto">-->
<!--          <div class="site-heading">-->
<!--            <h1>Mamas Recipes</h1>-->
<!--            <span class="subheading">For Everyone</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
  <!--Listing-->
<!--  <div class="row">-->
<!--    <div class="col-3 menu-box">-->
<!--      <img src="static/img/western.jpg" alt="western">-->
<!--    </div>-->
<!--    <div class="col-3 menu-box">-->
<!--      <img src="static/img/gyoza.jpg" alt="asian">-->
<!--    </div>-->
<!--    <div class="col-3 menu-box">-->
<!--      <img src="static/img/dessert.jpg" alt="dessert">  -->
<!--    </div>-->
<!--    <div class="col-3 menu-box">-->
<!--      <img src="static/img/vege.jpg" alt="veg">  -->
<!--    </div>-->
<!--  </div>-->
<!--</main>  -->
{% endblock %}
