{% extends "base.html" %}
{% block navhome %} text-light {% endblock %}
{% block navrecipes %} text-dark {% endblock %}
{% block navadd %} text-light{% endblock %}{% block content %}

<section class='container-fluid p-5'>
    {% for each in recipes %} 
    <div class="card p-5 m-5">
        <table>
      <tbody>
        <tr>
            <th class='text-success'>Recipe Name</th>
            <td> {{each.recipe_name}} <span class='text-muted'><small> ( {{each.recipe_tag}} )</small></span></td>
            <td class='px-5'> &nbsp </td>
            <td colspan='2' class='text-danger text-right'><small>uploaded by {{each.username}}</small> |
            <a href="{{ url_for('recipe_edit', recipe_id=each['_id'])}}">Edit</a> |
            <a href="{{ url_for('recipe_delete', recipe_id=each['_id'])}}">Delete</a></td>
        </tr>
        <tr>
            <th class='text-success'>Time required :</th>
            <td> {{each.time}}</td>
            <td colspan='3'>&nbsp</td>
        </tr>
        <tr>
            <td colspan='2'> 
                <span class='text-success font-weight-bold'><u>Ingredients</u></span><br/>
                {{each.ingredients}} 
            </td>
            <td>&nbsp</td>
            <td colspan='2'> 
                <span class='text-success font-weight-bold'><u>Directions</u></span><br/>
                {{each.directions}}
            </td>
        </tr>
      </tbody>
    </table>
    </div>
    {% endfor %}

</section>



{% endblock %}