{% extends "base.html" %} 
{% block navhome %} text-light {% endblock %}
{% block navrecipes %} text-dark {% endblock %}
{% block navadd %} text-light{% endblock %}
{% block content %}

<section class='container-fluid d-flex justify-content-center align-items-center flex-column p-5'>
  <div class="p-3 bg-transparent">&nbsp</div>
  <div class='p-5 w-75 bg-light rounded'>
    <h2>Please share your recipe here</h2>
    <form method="POST">

      <!--Username input-->
      <div class="form-group">
        <label>Username</label>
        <input class='form-control w-50' type="text" name="username" placeholder="eg: John Doe" value={{recipe.username}}></input>
      </div>

      <!--Preparation time-->
      <div class="form-group">
        <label>Estimated preparation time</label>
        <input class='form-control w-50' type="text" name="est-time" placeholder="eg: 30mins" value={{recipe.time}}></input>
      </div>

      <!--Recipe name-->
      <div class="form-group">
        <label>Recipe name</label>
        <input class='form-control w-50' type="text" name="recipe-name" placeholder="Roasted Chicken" value={{recipe.recipe_name}}></input>
      </div>

      <!--Recipe Tag<!-->
      <div class="form-group">
        <label>Dish Type</label>
        <select class='custom-select w-50' id="recipe-tag" name="recipe-tag">
          <option value="chinese" {% if recipe.recipe_tag == "chinese" %}selected="selected"{% endif %}>Chinese</option>
          <option value="indian" {% if recipe.recipe_tag == "indian" %}selected="selected"{% endif %}>Indian</option>
          <option value="malay" {% if recipe.recipe_tag == "malay" %}selected="selected"{% endif %}>Malay</option>
          <option value="western" {% if recipe.recipe_tag == "western" %}selected="selected"{% endif %}>Western</option>
       </select>
      </div>
      
      <!--Ingredients required-->
      <div class="form-group">
        <label>Ingredients</label>
        <textarea class='form-control' placeholder="Type here" rows="5" col="5" name="ingredients">{{recipe.ingredients}}</textarea>
      </div>
      
      <!--Cooking instructions-->
      <div class="form-group">
        <label>Cooking Instructions</label>
        <textarea class="form-control" placeholder="Type here" rows="5" col="5" name="directions">{{recipe.directions}}</textarea>
      </div>
      <button type='submit' class='btn btn-success'>Submit recipe</button>

    </form>
  </div>
</section>

{% endblock %}
