{% extends 'base.html' %}
{% block navhome %} text-white {% endblock %}
{% block navrecipes %} text-dark {% endblock %}
{% block navadd %} text-white{% endblock %}
{% block content %}

<section class='container-fluid d-flex justify-content-center align-items-center flex-column p-5'>
  <div class='p-5 w-75 bg-light rounded text-center'>
    <h2>Oh no! Is the recipe not cooking well ?</h2>
    <form class='d-md-block d-none' method="POST">
        <p><i>You are about to remove the {{recipe.recipe_name}} recipe from our cookbook.</i></p>
        <a class='btn btn-success' href='{{url_for('recipes')}}'>No it is cooking well</a>
        <button type='submit' class='btn btn-danger' href=''>Remove it, I will submit better ones</button>
    </form>
    <form class='d-md-none d-block' method="POST">
        <p><i>You are about to remove the {{recipe.recipe_name}} recipe from our cookbook.</i></p>
        <a class='btn btn-success' href='{{url_for('recipes')}}'>Cancel</a>
        <button type='submit' class='btn btn-danger ' href=''>Delete</button>
    </form>
  </div>
</section>

{% endblock %}
